.participants__title {
  margin: 0 auto 58px;
  padding: 0;
  text-align: center;
  font-family: "Berlin Type";
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.14;
  color: #000;
}

@media screen and (max-width: 768px) {
  .participants__title {
    font-family: "Berlin Type";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.56;
    text-align: center;
    color: #000000;
  }
}
