.intro_color_blue {
  background-color: #77c5d5;
  background-image: url("../../../../images/decorBlue.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .intro_color_blue {
    background-image: url(../../../../images/for-business_intro-background_mobile.svg);
    padding: 40px 24px;
  }
}
