.intro__subtitle {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  max-width: 767px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  overflow: hidden;
  width: 100%;
  text-overflow: auto;
  white-space: ;

}

.intro__subtitle:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 400px) {
  .intro__subtitle {
    line-height: 26px;
    color: #FFFFFF;
    max-height: 208px;
  }

  .intro__subtitle:first-of-type::after {
    content: "...";
  }
}




