.intro__subtitle {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  max-width: 767px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
}

.intro__subtitle:last-child {
  margin-bottom: 0;
}
