.partners__button-previous {
  margin: 0;
  padding: 0;
  display: none;
  background-image: url(../../../images/icons/ArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  outline: none;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  position: absolute;
  bottom: 48px;
  left: 0px;
  width: 40px;
  height: 40px;
  margin-top: -14px;
  transition: 0.3s ease;
}