.slider-section {
  box-sizing: border-box;
  font-family: "Berlin Type", "Inter", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 42px;
  border-bottom: 1px solid #999;
}

@media screen and (max-width: 736px) {
  .slider-section {
    margin-top: 40px;
  }
}
