.intro__show-more {
  font-family: "Berlin Type", "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .intro__show-more {
    display: block;
  }
}
