.popup__btn-leave {
  z-index: 3;
  position: absolute;
  background: no-repeat center url('../../../images/btn-leave.svg');
  background-size: contain;
  width: 22px;
  height: 22px;
  top: 14px;
  right: 14px;
  border: 0;
  padding: 0;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.popup__btn-leave:hover {
  opacity: .6;
}
