.listing {
  width: 100%;
  max-width: 706px;
  list-style-type: square;
  list-style-image: url(../../images/Rectangle\ 506.png);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 12px;
  box-sizing: border-box;
}
