.intro {
  box-sizing: border-box;
  width: 100%;
  min-height: 568px;
  margin: 0 auto;
  padding-top: calc(56px + 48px);
  padding-left: 124px;
  padding-bottom: 80px;
  overflow: hidden;
  position: relative;
}

.intro::after {
  content: '';
  display: block;
  width: 576px;
  height: 233px;
  border-radius: 136px;
  position: absolute;
  top: 250px;
  right: -325px;
}
