.intro {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-top: calc(56px + 48px);
  padding-left: 124px;
  padding-right: 24px;
  padding-bottom: 80px;
}

@media screen and (max-width: 900px) {
  .intro {
    padding: 41px 48px 49px 48px;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    padding: 41px 24px 49px 24px;
  }
}
