.program__btn-play {
  position: absolute;
  display: inline-block;
  right: clamp(10.938rem, -7.813rem + 39.063vw, 23.438rem);
  bottom: 48%;
  background-image: url('../../../images/icon_play.svg');
  background-color: rgba(255, 255, 255, 0);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.16));
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
  transition-property: background-image;
  white-space: nowrap;
  color: white;
}

.program__btn-play:hover {
  background-image: url('../../../images/icon_play-hover.svg');
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .program__btn-play {
    position: relative;
    right: 0;
    bottom: 0;
    width: 56px;
    height: 56px;
    margin-top: 26px;
    filter: none;
  }

  .program__btn-play::after {
    content: 'Посмотреть видео';
    font-family: 'Berlin Type', 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44;
    white-space: nowrap;
    margin-left: calc(56px + 16px);
  }
}
