.program__box-background {
  z-index: 0;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .program__box-background {
    position: relative;
    display:inline-block;
  }
}
