.about-section__targets-title {
  align-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
}

@media screen and (max-width: 500px) {
  .about-section__targets-title {
    font-size: 32px;
  }
}
