.tab-panel__option {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 736px) {
  .tab-panel__option {
    font-size: 18px;
  }
  .tab-panel__option:first-of-type {
    margin-left: 24px;
  }
  .tab-panel__option:last-of-type {
    margin-right: 24px;
  }
}
