.slider {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-top: 42px;
  white-space: nowrap;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 736px) {
  .slider {
    gap: 16px;
  }
}
