.projects__header {
  font-family: Berlin Type;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 500px) {
  .projects__header {
    font-size: 32px;
  }
}
