.listing__point {
  font-family: "Berlin Type", "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  width: 100%;
  list-style-type: square;
  list-style-position: -18px;
}

@media screen and (max-width: 500px) {
  .listing__point {
    line-height: 26px;
    list-style-position: -8px;
  }
}

.listing__point::marker {
  color: rgba(119, 197, 213, 1);
  font-size: 20px;
}
